header,
main {
  width: 80%;
  margin: 0 auto;
}

pre {
  margin-bottom: 2rem !important;
}

ol,
ul {
  padding-left: 1.5rem;
}

li,
dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

.responsive-image {
  display: block;
  max-width: 100%;
}
