footer {
    a {
        position: fixed;
        padding: .5rem;
        opacity: .2;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;

        &:first-child {
            left: 0;
            top: 0;
        }

        &:last-child {
            left: initial;
            right: 0;
            top: 0;
        }

        &:hover {
            opacity: 1;
        }
    }
}